
.hero {
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
}

.bg {
  position: absolute;
  top: 100px;
  left: 450px;
  width: 600px;
  height: 600px;
  overflow: hidden;
  z-index: -1;
}

.hImg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: max-content;
}

.hImg img {
  object-fit: cover;
  left: 20px;
  width: 100%;
  height: auto;
}

.hSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.htitle {
  margin-top: 50px;
  font-size: 60px;
  margin-left: 20px;
  color: #6e2d04;
}

.htitle span {
  color: white;
  margin-left: 20px;
}

.hsubtitle {
  font-size: 25px;
  margin-left: 20px;
  color:#6e2d04 ;
}

.hSection.right {
  align-items: end;
  
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #6e2d04;
  border-bottom-right-radius: 10px;
}

.follow img {
  width: 30px;
  height: 30px;
}

.followTextContainer {
  width: 20px;
  height: 20px;
}

.followText {
  background-color: #f6eeee;
  font-size: 12px;
  rotate: 90deg;
  width: max-content;
  height: 100%;
  transform-origin: left top;
  transform: translateY(-20px);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 10px;
}

.contactLink {
  margin-bottom: 50px;
}

.clickMe {
  position: relative;
}

.circleText {
  letter-spacing: 3px;
  font-size: 20px;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1536px) {
  .htitle {
    font-size: 72px;
  }
}

@media (max-width: 1280px) {
  .bg {
    width: 500px;
    height: 500px;
    top: 300px;
    left: 500px;
  }
  .htitle {
    font-size: 60px;
  }
  .bubbleContainer {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .bg {
   
    top: 245px;
    left: 225px;
  }
  .htitle {
    font-size: 55px;
  }
  .hSection.right {
    align-items: flex-end;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .bg {
   
   top:350px;
   left: 250px;
    transform: translateX(-50%);
  }
  .hSection {
    width: 100%;
  }
  .hSection.left {
    align-items: center;
    text-align: center;
    gap: 36px;
  }
  .htitle {
    font-size: 48px;
  }
  .hsubtitle {
    width: 100%;
  }
  .hSection.right {
    justify-content: end;
  }
  .follow,
  .bubbleContainer {
    display: none;
  }
}

@media (max-width: 457px) {
  .htitle {
    font-size: 30px;
  }
  .hsubtitle {
    width: 100%;
    height: 10px;
    bottom: 30px;
  }.bg {
    
    top:350px;
    left: 150px;
    transform: translateX(-50%);
  }
}
